<h1>Demo</h1>

<!-- <app-firs-component></app-firs-component>
<app-liste></app-liste>
<app-user></app-user>
<app-alert-button></app-alert-button>

<app-liste-filtre></app-liste-filtre>
<app-show-date></app-show-date> -->
<!-- <app-magie></app-magie> -->
<!-- <app-user-card></app-user-card> -->

 <!-- <app-generic-alert-button alertMessage="Ping" buttonTitle="Pong"></app-generic-alert-button>
 <app-generic-alert-button alertMessage="Marco" buttonTitle="Polo"></app-generic-alert-button>
 <app-generic-alert-button alertMessage="John" buttonTitle="Doe"></app-generic-alert-button> -->

 <!-- <app-button-menu></app-button-menu> -->
  <!-- <app-affichage-date></app-affichage-date> -->
   <app-composant-parent></app-composant-parent>
<router-outlet />
